@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    /* Rugged Digital / Mango Aesthetic */
    --bg-dark: #1A1A1A;
    --bg-light: #F4F4F4;

    --text-main: #F0F0F0;
    --text-muted: #A1A1AA;

    --primary: #FF9F43;
    /* Mango */
    --secondary: #87A330;
    /* Lime Moss */
    --tertiary: #2B2B2B;
    /* Suzuki Black */
}

html {
    font-size: 110%;
}

html,
body {
    font-family: 'Montserrat', system-ui, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-main);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Animations */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Reduced movement for "heavier" feel */
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.text-gradient {
    /* Solid colors for this theme, or hard gradient */
    background: linear-gradient(135deg, var(--primary) 0%, #FFB470 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Redefined strictly as "Mass" - no transparency */
.glass {
    background-color: var(--tertiary);
    border: 1px solid #3f3f46;
    /* zinc-700 */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
}